*~
.*~
*.el
.metadata/
.recommenders/
*.aux
*.log
*.out
*.pdf
*.class
build/
*.synctex.gz
*.settings/
*.classpath
*.project
*/build/
*/target/
*.launch
*/.metadata/
reports/
*.html
*.js
*.css
/javadoc-latest/package-list
.csslintrc
.eslintignore
.eslintrc
*.zip
/homework-template/hw2/ReadWriteLock/cfr_0_110.jar
