*~
.*~
*.el
*.aux
*.log
*.out
*.pdf
*.class
*.synctex.gz
*.settings/
*.classpath
*.project
*/build/
*/target/
*.lock
*.launch
*/.metadata/
assignments/pset1/reports
*.html
*.js
*.css
/javadoc-latest/package-list
